# Problema de Negócio

**All in One** é uma empresa fictícia de comércio eletrônico com sede no Reino Unido. Ela oferece uma ampla gama de produtos voltados para diversas categorias, incluindo decoração de casa, suprimentos para festas, acessórios de cozinha, soluções de armazenamento e muito mais.

Após vender com sucesso uma ampla variedade de produtos e acumular uma base substancial de clientes, a All in One reconhece o imenso valor oculto em seus dados de clientes. A empresa tem como objetivo aproveitar o poder da ciência de dados para obter **insights mais profundos** sobre sua base de clientes e aplicar esses insights de forma estratégica. Um de seus principais objetivos é **segmentar seus clientes** de forma eficaz. Essa segmentação permitirá à All in One compreender sua base de clientes em um nível mais detalhado, identificar grupos de clientes específicos com necessidades e preferências distintas, e adaptar seus esforços de marketing e ofertas de produtos de acordo.

Além disso, ao implementar um **programa de fidelidade**, a All in One busca cultivar relacionamentos mais fortes com os clientes e aumentar a retenção deles. Por meio da análise cuidadosa dos comportamentos dos clientes, padrões de compra e preferências, eles podem projetar um programa de fidelidade que ofereça incentivos personalizados, recompensas e benefícios exclusivos para diferentes segmentos de clientes. Essa abordagem personalizada não apenas promove a fidelidade do cliente, mas também cria um senso de apreço e pertencimento entre os clientes, fortalecendo ainda mais sua conexão com a marca.

# Dados

- **InvoiceNo**: Número da fatura, um identificador único para cada transação
- **StockCode**: Código do produto, um identificador único para cada produto
- **Description**: Descrição do produto
- **Quantity**: Quantidade de produtos comprados em cada transação
- **InvoiceDate**: Data e hora de cada transação
- **UnitPrice**: Preço unitário de cada produto
- **CustomerID**: ID do cliente, um identificador único para cada cliente
- **Country**: País do cliente

# Planejamento da Solução

## Entrada

1. Problema de Negócio
    - Selecionar os clientes mais valiosos para participar de um Programa de Fidelidade.
2. Conjunto de Dados:
    - Dados de vendas de uma plataforma de comércio eletrônico online, cobrindo um período de um ano.

## Saída

1. Identificação das pessoas a serem parte do programa Insiders
    - Lista:

    - client_id is_insiders
    - 10323 sim/1
    - 32413 não/0
2. Relatório com respostas para perguntas de negócios:
    - Quem são as pessoas elegíveis para participar do programa Insiders?
    - Quantos clientes serão incluídos no grupo?
    - Quais são as características-chave desses clientes?
    - Qual é a porcentagem de contribuição de receita dos Insiders?

## Tarefa

1. Quem são as pessoas elegíveis para participar do programa Insiders?
    - O que significa ser elegível? Quem são os clientes de alto valor?
    - Receita:
        - Ticket médio alto.
        - Alto valor vitalício do cliente (LTV).
        - Baixa recência.
        - Tamanho do cesto alto.
        - Baixa probabilidade de churn - modelos.
        - Alta previsão de LTV - modelos.
        - Alta propensão de compra - modelos.
2. Custo:
    - Baixa taxa de retorno.

3. Quantos clientes serão incluídos no grupo? - Número total de clientes - % do grupo Insiders

4. Quais são as características-chave desses clientes? - Escreva características dos clientes: - Idade - Localização - Escreva características de consumo: - Atributos de cluster.

5. Qual é a porcentagem de contribuição de receita dos Insiders? - Receita total do ano - Receita total do grupo Insiders durante o ano.

# 0.0 IMPORTS

In [127]:
import pandas   as pd
import numpy    as np
import seaborn  as sns
import inflection
import sweetviz as sv
import warnings
import re

from matplotlib import pyplot as plt
from plotly     import express    as px

from sklearn import cluster       as c
from sklearn import metrics       as mt
from sklearn import preprocessing as pp

from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer

warnings.filterwarnings('ignore')

## 0.1 Helper Functions

In [128]:
palette = ["#00BFFF", "#DC143C", "#FFA07A", "#FFD700", "#8B008B", "#7CFC00", "#FF69B4", "#00CED1", "#FF6347", "#9400D3"]
def jupyter_settings(palette):
    %matplotlib inline
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [12, 6]
    pd.options.display.max_columns = None
    pd.options.display.max_rows = 50
    pd.set_option( 'display.expand_frame_repr', False )
    sns.set(font_scale=2)
    sns.set_theme(palette=palette)
    warnings.simplefilter("ignore")
    # plt.rcParams.update({'font.size': 10})
    sns.set_style("white")

    
jupyter_settings(palette)

## 0.2 Loading Data

In [129]:
path = 'C:/Users/edils/repos/customer_fidelity/data/'

In [130]:
df_raw = pd.read_csv(path + 'ecommerce.csv', encoding='windows-1252')

In [131]:
df_raw = df_raw.drop('Unnamed: 8', axis=1)

In [132]:
df_raw.head()

  InvoiceNo StockCode                          Description  Quantity InvoiceDate  UnitPrice  CustomerID         Country
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6   29-Nov-16       2.55     17850.0  United Kingdom
1    536365     71053                  WHITE METAL LANTERN         6   29-Nov-16       3.39     17850.0  United Kingdom
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8   29-Nov-16       2.75     17850.0  United Kingdom
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6   29-Nov-16       3.39     17850.0  United Kingdom
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6   29-Nov-16       3.39     17850.0  United Kingdom

# 1.0 DATA DESCRIPTION

In [133]:
df1 = df_raw.copy()

In [134]:
df1.head()

  InvoiceNo StockCode                          Description  Quantity InvoiceDate  UnitPrice  CustomerID         Country
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6   29-Nov-16       2.55     17850.0  United Kingdom
1    536365     71053                  WHITE METAL LANTERN         6   29-Nov-16       3.39     17850.0  United Kingdom
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8   29-Nov-16       2.75     17850.0  United Kingdom
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6   29-Nov-16       3.39     17850.0  United Kingdom
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6   29-Nov-16       3.39     17850.0  United Kingdom

In [135]:
# report = sv.analyze(df1)
# report.show_html()

## 1.1 Rename Columns

In [136]:
df1.columns = df1.columns.map(lambda x: inflection.underscore(x))

## 1.2 Data Dimensions

In [137]:
df1.shape

(541909, 8)

## 1.3 Data Types

In [138]:
df1.dtypes

invoice_no       object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
customer_id     float64
country          object
dtype: object

## 1.4 Check NA

In [139]:
df1.isna().sum()

invoice_no           0
stock_code           0
description       1454
quantity             0
invoice_date         0
unit_price           0
customer_id     135080
country              0
dtype: int64

## 1.5 Replace NA

In [140]:
df_missing = df1.loc[pd.isnull(df1['customer_id']),:]

In [141]:
#create reference
df_backup = pd.DataFrame(df_missing['invoice_no'].drop_duplicates())
df_backup['customer_id'] = np.arange(19000, 19000+len(df_backup),1)

#merge
df1 = pd.merge(df1, df_backup, on='invoice_no', how='left')

#coalesce - combina o que tem NaN em uma coluna com o que não tem em outra
df1['customer_id'] = df1['customer_id_x'].combine_first(df1['customer_id_y'])

#drop extra columns
df1 = df1.drop(['customer_id_x','customer_id_y'], axis=1)

## 1.6 Change Types

In [142]:
#df1['customer_id'] = df1['customer_id'].astype('int64')

In [143]:
df1['invoice_date'] = pd.to_datetime(df1['invoice_date'])

## 1.7 Descriptive Statistics

In [144]:
numerical_attributes = df1.select_dtypes(include=['float64', 'int64', 'datetime64[ns]'])
categorical_atributtes = df1.select_dtypes(exclude=['float64', 'int64', 'datetime64[ns]'])

## 1.7.1 Numerical Analysis

In [145]:
disp = numerical_attributes.agg(['mean','median','std','min','max',lambda x: max(x) - min(x), 'skew', 'kurtosis']).T.rename(columns={'<lambda>':'range'})

In [146]:
disp

                                       mean               median                          std                  min                  max              range        skew       kurtosis
quantity                            9.55225                  3.0                   218.081158             -80995.0              80995.0           161990.0   -0.264076  119769.160031
invoice_date  2017-07-02 00:00:13.073782016  2017-07-17 00:00:00  115 days 21:02:59.177457004  2016-11-29 00:00:00  2017-12-07 00:00:00  373 days 00:00:00         NaN            NaN
unit_price                         4.611114                 2.08                    96.759853            -11062.06              38970.0           50032.06  186.506972   59005.719097
customer_id                    16688.840453              16249.0                  2911.411352              12346.0              22709.0            10363.0    0.487449      -0.804287

Podemos ver que existes dados grandes e negativos em 'quantity'e também produtos igual a 0.0 em unit_price

## 1.7.2 Categorical Atributtes

In [147]:
categorical_atributtes

       invoice_no stock_code                          description         country
0          536365     85123A   WHITE HANGING HEART T-LIGHT HOLDER  United Kingdom
1          536365      71053                  WHITE METAL LANTERN  United Kingdom
2          536365     84406B       CREAM CUPID HEARTS COAT HANGER  United Kingdom
3          536365     84029G  KNITTED UNION FLAG HOT WATER BOTTLE  United Kingdom
4          536365     84029E       RED WOOLLY HOTTIE WHITE HEART.  United Kingdom
...           ...        ...                                  ...             ...
541904     581587      22613          PACK OF 20 SPACEBOY NAPKINS          France
541905     581587      22899         CHILDREN'S APRON DOLLY GIRL           France
541906     581587      23254        CHILDRENS CUTLERY DOLLY GIRL           France
541907     581587      23255      CHILDRENS CUTLERY CIRCUS PARADE          France
541908     581587      22138        BAKING SET 9 PIECE RETROSPOT           France

[541909 rows x 4 columns]

In [148]:
#invoice_no
letter_lines = categorical_atributtes['invoice_no'].apply(lambda x: bool (re.search('[a-zA-Z]', x)))
letter_df = df1.loc[letter_lines,'quantity']
any(letter_df >0)

True

Todos os valores de invoice que começam com C tem valores de quantidade negativos, provavelmente são itens de devolução

In [149]:
#stock_code
stock_letter = categorical_atributtes['stock_code'].apply(lambda x: bool (re.search('^[a-zA-Z]+$', x)))
stock_df = df1.loc[stock_letter,:]

In [150]:
stock_df['stock_code'].unique()

array(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK'], dtype=object)

Na coluna stock_code temos vários itens com descrições diferentes que estão sujando o dataframe

In [151]:
#country - European Community and Unspecified
df1['country'].unique()
df1.loc[:,['customer_id','country']].drop_duplicates().groupby('country').count().reset_index().sort_values(by='customer_id', ascending=False)

                 country  customer_id
36        United Kingdom         7587
14               Germany           95
13                France           90
10                  EIRE           44
31                 Spain           31
3                Belgium           25
33           Switzerland           24
27              Portugal           20
19                 Italy           15
16             Hong Kong           15
12               Finland           12
1                Austria           11
25                Norway           10
24           Netherlands            9
0              Australia            9
37           Unspecified            9
9                Denmark            9
6        Channel Islands            9
7                 Cyprus            8
32                Sweden            8
20                 Japan            8
18                Israel            7
26                Poland            6
5                 Canada            4
34                   USA            4
2                Bahrain            4
15                Greece            4
23                 Malta            2
35  United Arab Emirates            2
8         Czech Republic            1
22             Lithuania            1
11    European Community            1
21               Lebanon            1
28                   RSA            1
29          Saudi Arabia            1
30             Singapore            1
17               Iceland            1
4                 Brazil            1

In [152]:
#remove description

# 2.0 VARIABLE FILTERING

In [153]:
df2 = df1.copy()

## 2.1 Numerical Attributes

In [154]:
#unit_price
df2 = df2.loc[df2['unit_price'] >= 0.040,:]

#stock code
df2 = df2.loc[~df2['stock_code'].isin(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK']),:]

#description
df2 = df2.drop('description', axis=1)

#country
df2 = df2.loc[~df2['country'].isin(['Unspecified','European Community']),:]

In [155]:
#divide df in purchases and returns
df_purchase = df2.loc[df2['quantity'] >=0, :]
df_returns = df2.loc[df2['quantity'] < 0,:]

# 3.0 FEATURE ENGINEERING

In [388]:
df3 = df2.copy()

In [389]:
df3.head()

  invoice_no stock_code  quantity invoice_date  unit_price         country  customer_id
0     536365     85123A         6   2016-11-29        2.55  United Kingdom      17850.0
1     536365      71053         6   2016-11-29        3.39  United Kingdom      17850.0
2     536365     84406B         8   2016-11-29        2.75  United Kingdom      17850.0
3     536365     84029G         6   2016-11-29        3.39  United Kingdom      17850.0
4     536365     84029E         6   2016-11-29        3.39  United Kingdom      17850.0

## 3.1 Monetary

In [390]:
#Monetary - O quanto cada cliente gera de $
aux_monetary = pd.DataFrame()
aux_monetary['valor_bruto'] = df_purchase['quantity'] * df_purchase['unit_price']
aux_monetary['customer_id'] = df_purchase['customer_id']
df_ref = aux_monetary.loc[:,['valor_bruto', 'customer_id']].groupby('customer_id').sum().reset_index().rename(columns={'valor_bruto':'monetary'})
df_ref.isna().sum()

customer_id    0
monetary       0
dtype: int64

## 3.2 Qtd de Compras

In [391]:
#Quantos produtos cada cliente comprou
aux_invoice = df_purchase.loc[:,['invoice_no','customer_id']].drop_duplicates().groupby('customer_id').count().reset_index().rename(columns={'invoice_no':'qtd_compras'})
df_ref = pd.merge(df_ref, aux_invoice, on='customer_id', how='left')
df_ref.isna().sum()

customer_id    0
monetary       0
qtd_compras    0
dtype: int64

## 3.4 Qtd produtos comprados

In [392]:
#Quantos produtos cada cliente comprou
aux_qtd = df_purchase.loc[:,['quantity','customer_id']].drop_duplicates().groupby('customer_id').count().reset_index().rename(columns={'quantity':'qtd_prod_comprados'})
df_ref = pd.merge(df_ref, aux_qtd, on='customer_id', how='left')
df_ref.isna().sum()

customer_id           0
monetary              0
qtd_compras           0
qtd_prod_comprados    0
dtype: int64

## 3.5 Recency

In [393]:
#Recency
aux_recency = df_purchase.loc[:,['customer_id','invoice_date']].groupby('customer_id').max().reset_index()
date_max = df_purchase['invoice_date'].max()
aux_recency['recency'] = (date_max - aux_recency['invoice_date']).dt.days
df_ref = pd.merge(df_ref, aux_recency, on='customer_id', how='left')
df_ref = df_ref.drop(['invoice_date'],axis=1)
df_ref.isna().sum()

customer_id           0
monetary              0
qtd_compras           0
qtd_prod_comprados    0
recency               0
dtype: int64

## 3.6 Average Ticket

In [394]:
#Ticket Médio
aux_ticket = aux_monetary.loc[:,['valor_bruto', 'customer_id']].groupby('customer_id').mean().reset_index().rename(columns={'valor_bruto':'avg_ticket'})
df_ref = pd.merge(df_ref, aux_ticket, on='customer_id', how='left') 
df_ref.isna().sum()

customer_id           0
monetary              0
qtd_compras           0
qtd_prod_comprados    0
recency               0
avg_ticket            0
dtype: int64

## 3.7 Average Recency Days

In [395]:
aux_rd = df3.loc[:,['invoice_date','customer_id']].drop_duplicates().sort_values(by=['customer_id','invoice_date'])
aux_rd['previous_customer'] = aux_rd['customer_id'].shift() #next customer
aux_rd['previous_invoice'] = aux_rd['invoice_date'].shift() #next date
aux_rd['avg_recency_days'] = aux_rd.apply(lambda x: (x['invoice_date'] - x['previous_invoice']).days if x['previous_customer'] == x['customer_id'] else np.nan, axis=1)
aux_rd = aux_rd.dropna()

#drop support columns
aux_rd = aux_rd.drop(['invoice_date','previous_customer','previous_invoice'], axis=1)

#calculate avg recency
aux_rd_avg = aux_rd.groupby('customer_id').mean().reset_index()

#merge
df_ref = pd.merge(df_ref, aux_rd_avg, on='customer_id', how='left')

In [396]:
df_ref.isna().sum()

customer_id              0
monetary                 0
qtd_compras              0
qtd_prod_comprados       0
recency                  0
avg_ticket               0
avg_recency_days      2727
dtype: int64

## 3.8 Frenquency Purchase

In [397]:
df_freq = (df3[['customer_id','invoice_no', 'invoice_date']].drop_duplicates().groupby('customer_id')
                                                           .agg(days = ('invoice_date', lambda x: (max(x) - min(x)).days + 1),
                                                                buy_ = ('invoice_no', 'count'))).reset_index()

#Frequency
df_freq['frequency'] = df_freq.apply(lambda x: x['buy_'] / x['days'] if x['days'] != 0 else 0, axis=1) 

#merge
df_ref = pd.merge(df_ref, df_freq, on='customer_id', how='left')
df_ref = df_ref.drop(['days','buy_'],axis=1)

In [398]:
df_ref.isna().sum()

customer_id              0
monetary                 0
qtd_compras              0
qtd_prod_comprados       0
recency                  0
avg_ticket               0
avg_recency_days      2727
frequency                0
dtype: int64

## 3.9 Devoluções

In [399]:
df_ref.shape

(5696, 8)

In [400]:
qtd_returns = df_returns.loc[:,['customer_id','quantity']].groupby('customer_id').sum().reset_index().rename(columns={'quantity':'qtd_returns'})
qtd_returns['qtd_returns'] = qtd_returns['qtd_returns']*-1

#merge
df_ref = pd.merge(df_ref, qtd_returns, on='customer_id', how='left')

#Os NaNs gerados são pessoas que não devolveram
df_ref.loc[df_ref['qtd_returns'].isna(),'qtd_returns'] = 0

In [401]:
df_ref.isna().sum()

customer_id              0
monetary                 0
qtd_compras              0
qtd_prod_comprados       0
recency                  0
avg_ticket               0
avg_recency_days      2727
frequency                0
qtd_returns              0
dtype: int64

## 3.10 Unique Basket Size

In [402]:
#qtd de produtos diferentes dentro de uma compora
basket_size = df_purchase.loc[:,['customer_id','stock_code','invoice_no']].groupby(['customer_id']).nunique().reset_index()

#media itens por compra
basket_size['avg_basket'] = basket_size['stock_code'] / basket_size['invoice_no']

In [407]:
df_ref.isna().sum()

customer_id              0
monetary                 0
qtd_compras              0
qtd_prod_comprados       0
recency                  0
avg_ticket               0
avg_recency_days      2727
frequency                0
qtd_returns              0
avg_basket               0
dtype: int64

## 3.11 Quantity Basket Size - Quantidade de produtos por basket

In [404]:
#qtd de produtos medios por compra
qtd_basket_size = (df_purchase.loc[:,['customer_id','quantity','invoice_no']].groupby(['customer_id'])
                                                                            .agg(uniq_prod = ('invoice_no', 'nunique'),
                                                                                 quantity_sum = ('quantity', 'sum'))).reset_index()    

#media de quantidade de itens por basket
qtd_basket_size['avg_basket'] = qtd_basket_size['quantity_sum'] / qtd_basket_size['uniq_prod']

#merge
df_ref = pd.merge(df_ref, qtd_basket_size[['customer_id','avg_basket']], on='customer_id',how='left')

In [406]:
df_ref.isna().sum()

customer_id              0
monetary                 0
qtd_compras              0
qtd_prod_comprados       0
recency                  0
avg_ticket               0
avg_recency_days      2727
frequency                0
qtd_returns              0
avg_basket               0
dtype: int64

## 3.12 Check Final Result

In [408]:
df_ref.head()

   customer_id  monetary  qtd_compras  qtd_prod_comprados  recency    avg_ticket  avg_recency_days  frequency  qtd_returns    avg_basket
0      12346.0  77183.60            1                   1      325  77183.600000               NaN   2.000000      74215.0  74215.000000
1      12347.0   4310.00            7                  15        2     23.681319         60.833333   0.019126          0.0    351.142857
2      12348.0   1437.24            4                   8       75     53.231111         94.333333   0.014085          0.0    583.000000
3      12349.0   1457.55            1                  12       18     20.243750               NaN   1.000000          0.0    630.000000
4      12350.0    294.40            1                   4      310     18.400000               NaN   1.000000          0.0    196.000000

# 4.0 EDA (EXPLORATORY DATA ANALYSIS

In [38]:
df4 = df_ref.copy()

# 5.0 DATA PREPARATION

In [39]:
df5 = df4.copy()

In [40]:
mms = pp.MinMaxScaler()
ss = pp.StandardScaler()


df5['customer_id'] = ss.fit_transform(df5['customer_id'].values.reshape(-1,1))
df5['monetary'] = ss.fit_transform(df5['monetary'].values.reshape(-1,1))
df5['frequency'] = ss.fit_transform(df5['frequency'].values.reshape(-1,1))
df5['recency'] = ss.fit_transform(df5['recency'].values.reshape(-1,1))
df5['ticket_medio'] = ss.fit_transform(df5['ticket_medio'].values.reshape(-1,1))

KeyError: 'frequency'

In [ ]:
df5

# 6.0 FEATURE SELECTION

In [ ]:
df6 = df5.copy()

# 7.0 HYPERPARAMETER FINE TUNNING(Find Clusters)

In [ ]:
X = df6.drop('customer_id', axis=1)

In [ ]:
X.dtypes

In [ ]:
clusters = np.arange(1,11,1)

In [ ]:
clusters

## 7.1 Within-Cluster Sum of Square(WSS)

In [ ]:
wss = []

for k in clusters:
    #model definition
    kmeans = c.KMeans(n_clusters=k)
    
    #model training
    kmeans.fit(X)
    
    #validation
    wss.append(kmeans.inertia_)

#plot wws - Elbow Method
plt.plot(clusters, wss, linestyle='--', marker='o', color='b')
plt.xlabel('K');
plt.ylabel('WSS')
plt.title('WSS vs K')

## 7.2 Silhouette vs Elbow Analysis

In [ ]:
kmeans = KElbowVisualizer(c.KMeans(), k=clusters, timings=False)
kmeans.fit(X)
kmeans.show();

In [ ]:
clusters = np.arange(2,11,1)

In [ ]:
clusters = np.arange(2,10,1)
kmeans = KElbowVisualizer(c.KMeans(), k=clusters, timings=False, metric='silhouette')
kmeans.fit(X)
kmeans.show();

Com a Criação de novas features, a silhouette score já deu um valor alto para 4-5 clusters, que anteriormente eram 3. Então seguirei usando 5 clusters nesse ciclo

## 7.3 Silhouette Analysis

In [ ]:
clusters = np.arange(2,8,1)
fig, ax = plt.subplots(3,2, figsize=(20,15))

for k in clusters:
    kmeans = c.KMeans(n_clusters=k, init='random', n_init=10, max_iter=300, random_state=42)
    q, mod = divmod(k,2)
    
    visualizer = SilhouetteVisualizer(kmeans, color='yellowbrick', ax=ax[q-1][mod])
    visualizer.fit(X)
    visualizer.finalize()

# 8.0 MODEL TRAINING

## 8.1 K-Means

In [ ]:
k = 5
#definition
kmeans = c.KMeans(n_clusters=k, init='random', n_init=10, max_iter=300, random_state=42)

#training
kmeans.fit(X)

#clusters
labels = kmeans.labels_

In [ ]:
#WSS
print(f'WSS Score: {kmeans.inertia_:.3f}')

print(f'SS Score: {mt.silhouette_score(X, labels):.3f}')

# 9.0 CLUSTER ANALYSIS

In [ ]:
df9 = df6.copy()
df9['clusters'] = labels

In [ ]:
df9.head()

## 9.1 Visualize Inspection

In [ ]:
#px.scatter_3d(df9, x='monetary', y='recency', z='frequency', color=labels)

## 9.2 Silhouette Visualizer

In [ ]:
visualizer = SilhouetteVisualizer(kmeans, color='yellowbrick')
visualizer.fit(X)
visualizer.finalize()

## 9.3 2D Plot

In [ ]:
df_viz = df9.drop('customer_id', axis=1)
sns.pairplot(df_viz, hue='clusters')

## 9.4 UMAP - t-SNE

In [ ]:
import umap.umap_ as umap

In [ ]:
reducer = umap.UMAP(n_neighbors=70, random_state=42)
embedding = reducer.fit_transform(X)

#embedding
df_viz['embedding_x'] = embedding[:,0]
df_viz['embedding_y'] = embedding[:,1]

#plot UMAP
sns.scatterplot(x='embedding_x', y='embedding_y',
                hue='clusters',
                palette=sns.color_palette('hls', n_colors=len(df_viz['clusters'].unique())),
                data=df_viz)

Os Clusters estarem perto um dos outros nessa figura é um bom sinal, porque significa que na alta dimensionalidade eles tem a probabilidade de estarem próximos

## 9.5 Cluster Profile

In [ ]:
#Per Monetary
df_monetary = df9.loc[:,['clusters','monetary']].groupby('clusters').mean().reset_index()

#Per Frequency
df_frequency = df9.loc[:,['clusters','frequency']].groupby('clusters').mean().reset_index()

#Per Recency
df_recency = df9.loc[:,['clusters','recency']].groupby('clusters').mean().reset_index()

#Per Pencentual
df_client_perc = df9.loc[:,['customer_id','clusters']].groupby('clusters').count().reset_index()
df_client_perc['customer_id'] = df_client_perc['customer_id'].apply(lambda x: 100*(x)/(df_client_perc['customer_id'].sum()))
df_client_perc = df_client_perc.rename(columns={'customer_id':'percent'})

#Per Ticket
df_ticket = df9.loc[:,['clusters','ticket_medio']].groupby('clusters').mean().reset_index()

df_resume = pd.merge(df_monetary, df_frequency, on='clusters', how='left').merge(df_recency, on='clusters', how='left').merge(df_client_perc, on='clusters', how='left').merge(df_ticket, on='clusters', how='left')

In [ ]:
df_resume

Cluster 0 - Clientes Esporádicos
    - Clientes que comprar pouco, valor baixo, e com uma média de 3 meses. Porém engloba 99% dos clientes
    
Cluster 1 - Clientes Medianos
    - Clientes que compram em média uma vez por mês mas uma quantia maior e um valor maior que os Esporádicos
    
Cluster 2 - Clientes elegíveis a Insiders
    - Gastam muito, toda semana e compram bastante produtos

# 10.0 DEPLOY